/* .graph-container {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(24, 47, 93, 0.4);
    backdrop-filter: blur( 4px );
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
} */