.logo-container {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: 0.5s color ease;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 12px;
}

.nav-link .icon {
    margin-right: 12px;
}

.nav-link {
    padding: 6px 12px;
    background-color: #356CB1;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    transition: 0.5s background-color ease;
}

.nav-link:hover {
    color: #fff;
    background-color: rgb(53, 108, 177, 0.8);
}