.card {
    width: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(24, 47, 93, 0.4);
    backdrop-filter: blur( 4px );
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.06)60%, rgba(255, 255, 255, 0.4));
    color: #fff;
}

.card img {
    height: 200px;
    width: 90%;
    object-fit: cover;
}

.card .btn {
    padding: 0;
    border-radius: 100%;
}

.card .btn .icon {
    font-size: 20px;
    color: rgb(255, 255, 255, 0.6);
    opacity: 0;
    transition: 0.5s opacity ease, 0.5s color ease;
}

.card:hover .btn .icon {
    opacity: 1;
}

.btn:hover .icon {
    color: #fff;
}

.btn:active {
    border: none;
}

.coordinates span {
    display: block;
}

.card h4 {
    font-size: 26px;
}

.nuevob{  
    background-color:transparent;
    float: right;    
    font-size: larger;
    color: white;
    border-color: transparent;
}

.btnagregar {
    color: white;
    background-color: transparent;
    border-color: rgb(20, 236, 182);
}
