.login-contentainer {
    height: calc(100vh - var(--navbar-height));
}
.form-login {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    backdrop-filter: blur( 4px );
    background-color: rgba(255, 255, 255, 0.1);
    width: 500px;
    max-width: 80%;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 40px auto 0;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.form-login h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
}
.form-login p{
    color: #cfcfd9;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    width: 100%;
    margin: 0px 0 20px;
    display: inline-block;
    border: 1px solid rgb(31, 16, 241);
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
form input:focus {
    outline: none;
}
form input[type="submit"]{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #124be7;
    border: 1px solid #2114d4;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}
form input[type="submit"]:hover{    
    width: 50%;
    background-color:transparent;
    color: white;
}

.error {
    border: 2px solid #E94560 !important;
}

.label-error {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #E94560 !important;
}